.homePage {
   width: 100%;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.picBanner {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px 0 20px 0;
}

.pictureBanner {
   width: 90%;
   height: 180px;
   border-radius: 25px;
   object-fit: cover;
   filter: contrast(80%);
}

.textBanner {
   position: absolute;
   font-family: Montserrat;
   font-size: 40px;
   line-height: 68px;
   text-align: center;
   color: white;
}

.gallery {
   width: 90%;
   display: flex;
   margin-top: 30px;
   justify-content: center;
   border-radius: 25px;
   background-color: #F6F6F6;
}

.carrousel {
   width: 100%;
   height: 100%;
   padding: 40px 0 20px 0;;
   display: flex;
   flex-wrap: wrap;
   justify-content:space-around;

   border-radius: 25px;
}