/* carte en global */
.pictureCard {
   width: 340px;
   height: 340px;
   border-radius: 10px;
   margin: 20px 15px 20px 15px;
   background-color: #FF6060;
   background: linear-gradient(180deg, #FF6060 0%, rgba(0, 0, 0, 0.5) 100%);
}

/* image de la carte */
.pictureCard img {
   width: 340px;
   height: 340px;
   object-fit: cover;
   border-radius: 10px;
}

/* texte de la carte */
.textCard {
   position: relative;
   width: 300px;
   height: 52px;
   top: -58px;
   left: 20px;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 500;
   line-height: 26px;
   text-align: left;
   color: white;
}

/* responsive design */

@media screen and (max-width: 500px) {

   .pictureCard,
   .pictureCard img {
      width: 335px;
      height: 255px;
   }
}

@media screen and (max-width: 350px) {

   .pictureCard,
   .pictureCard img {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
   }

   .textCard {
      width: 200px;
   }
}