/* Card */
.gallery {
   width: 1300px;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   border-radius: 25px;
   margin: 20px 0 20px 0;
   background-color: #F6F6F6;
}

.pictureCard {
   width: 350px;
   height: 350px;
   background-color: #FF6060;
   border-radius: 10px;
   object-fit: cover;
}

.textCard {
   position: absolute;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 500;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
}