/* Bannière */
.banner {
   width: 100%;
   display: flex;
   justify-content: space-around;
}

/* Logo */
.logo {
   color: #FF6060;
}

/* Accueil / A Propos */
.navigation {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 142.6%;
   /* or 34px */
   display: flex;
   align-items: flex-end;
   text-align: right;
   /* text-decoration-line: underline; */
   color: #FF6060;
}