/* Bannière / entête -> de chaque page */
.header {
   width: 100%;
   display: flex;
   justify-content: center;
}

.banner {
   width: 90%;
   height: 60px;
   margin-top: 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   width: 50%;
   display: flex;
}

.letterK {
   position: relative;
   bottom: 8px;
   height: 57px;
}

.navigation {
   width: 50%;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   display: flex;
   justify-content: flex-end;
   gap: 50px;
}

/*  A modifier suivant page home ou a propos  */
.links {
   text-decoration: none;
   color: #FF6060;
}

/* responsive design */

@media screen and (min-width: 500px) and (max-width: 838px) {
   .logo {
      width: 30%;
   }

   .logo img {
      height: 35px;
   }

   .letterK {
      height: 43px !important;
   }

   .navigation {
      font-size: 22px;
      gap: 20px;
   }
}

@media screen and (max-width: 500px) {
   .logo img {
      height: 33px;
   }

   .letterK {
      height: 40px !important;
   }

   .navigation {
      font-size: 17px;
      gap: 10px;
   }
}